/* ESTILO DE ICONO CARRITO*/

ion-icon {
    font-size: 30px;
    color: blue;
}

.carProductos {
    margin: 10px;
    align-items: center;
    justify-content: center;
}

.cardProducto{
    width: 18rem;
    margin: 4px;
    background-color: whitesmoke;
    border-radius: 20px;
}
.cardBody {
    background-color: lightgray;
    margin-bottom: 3px;
    text-align: center;
}
.cardBodyDark {
    background-color: #0000;
    margin-bottom: 3px;
    text-align: center;
}


.itemDetail{
    max-width: 540px;
    margin-top: 20px;
}

.darkMode {
    background-color: #0000;
    color: bisque;
}

.carContainer{
    margin-top: 3%;
    margin-left: 26,5%;
}

.divButtons button {
    margin: 4px;
}

.cardCart {
    max-width: 340px;

}